@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.header {
    background-color:#f7f7f7;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Lato';
    &:before {
        font-family: 'Lato';
    }
    
    &:after {
        font-family: 'Lato';
    }

    .main {
        margin-left: 1rem;
    }
    

    .spacer {
        display: flex;
        flex: 1;
    }

    .filter {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
        width: 30rem;
        margin-right: 1rem;
        
        .formControl {
            margin-right: 1rem;
            width: 10rem;
            
        }
    }
}